:root {
    /* шрифты */
    --font-main: "Roboto", "Arial";

    /* настройка скролла */
    --scrollbar-thumb: rgb(255 255 255 / 30%);
    --scrollbar-thumb-hover: rgb(255 255 255 / 50%);

    /* цвет заднего фона */
    --background-color: #212121;

    /* цвет текста */
    --text-color: #FFF;

    /* цвет кнопки */
    --background-color-button: #2B7FFF;
    --background-color-button-hover: #1A5FCC;

    /* цвет карточки */
    --background-color-card: #262C36;
    --background-color-card-hover: #323b46;

    /* цвет рамки */
    --border-color: #696969;
}